# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarised.**

**Objectives:**
- list popular Data Science languages
- list commonly-used Data Science libraries
- give an example of arithmetic using Python

Some of the popular languages that Data Scientists use are:
- SQL
- Python
- R

Some of the commonly-used Data Science libraries include:
- Pandas
- NumPy
- Matplotlib

|Data Science Tools|
|----|
| Jupiter Lab |
| VS Code |
| GoogleColab |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours
print("200 minutes is equal to",200/60,"hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
Peter